<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ "/index.html" | absolute_url }}" target="_blank">{{ site.url | escape }}</a></li>
          {%- if site.github_username -%}
          <li><a href="https://github.com/{{ site.github_username }}" target="_blank">https://github.com/{{ site.github_username }}</a></li>
          {%- endif -%}
          {%- if site.telegram_username -%}
          <li><a href="https://t.me/s/{{ site.telegram_username }}" target="_blank">https://t.me/s/{{ site.telegram_username }}</a></li>
          {%- endif -%}
          {%- if site.twitter_username -%}
          <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">https://twitter.com/{{ site.twitter_username }}</a></li>
          {%- endif -%}
          {%- if site.email -%}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social-media-list.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <p>{%- include creativecommons.html -%}</p>
  </div>

</footer>
