<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title | default: site.title | escape }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 280 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | absolute_url }}">
  <link rel="canonical" href="{{ page.url | replace:'/index.html','' | absolute_url }}">
  <link rel="icon" type="image/x-icon" href="{{ "/images/favicon.ico" | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | absolute_url }}">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:title" content="{{ page.title | default: site.title | escape }}" />
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 280 | escape }}" />
  <meta name="twitter:image" content="{{ page.share_image | default: site.share_image | absolute_url }}" />

  <meta property="fb:app_id" content="{{ site.facebook_app_id }}">
  <meta property="og:url" content="{{ page.url | replace:'/index.html','' | absolute_url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title | default: site.title | escape }}" />
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 280 | escape }}" />
  <meta property="og:image" content="{{ page.share_image | default: site.share_image | absolute_url }}" />
</head>
