@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }

  a {
    &:hover {
      color: white;
    }
  }

  pre,
  code {
    background: black;
  }

  .highlight {
    .highlighter-rouge & {
      background: black;
    }
  }

  .site-title {
    &,
    &:visited {
      color: white;
    }
  }

  .site-nav {
    background: black;

    .page-link {
      color: white;
    }

    .menu-icon {
      > svg {
        fill: white;
      }
    }
  }
}
