/**
 * Basic styling
 */
body {
  overflow-wrap: break-word;
}



/**
 * Icons
 */
.svg-icon--github {
  fill: $github-icon-color;
}

.svg-icon--twitter {
  fill: $twitter-icon-color;
}



/**
 * Photos
 */
.photo {
}
