/**
 * Icons
 */
.icon--without-fill > svg {
  display: inline-block;
  vertical-align: middle;
}

.social-media-list {
  .icon--without-fill {
    padding-right: 5px;
  }
}

.icon--github > svg {
  path {
    fill: $github-icon-color;
  }
}

.icon--twitter > svg {
  path {
    fill: $twitter-icon-color;
  }
}



/**
 * Photos
 */
img {
  &.photo {
  }

  &.photo--about {
    float: right;
    max-width: 40%;
    margin: 0px 0px 10px 10px;
  }
}
