/**
 * Icons
 */
.svg-icon--github {
  fill: $github-icon-color;
}

.svg-icon--twitter {
  fill: $twitter-icon-color;
}



/**
 * Buttons
 */
.share-buttons {
  margin-bottom: $base-margin-bottom;
}



/**
 * Photos
 */
.photo {
}

.photo--about {
  img {
    float: right;
    max-width: 40%;
    margin: 0px 0px 10px 10px;
  }
}
