.home {
}

.post {
  .picture {
    margin-bottom: $base-margin-bottom;
    text-align: center;
  }
}

.resume {
  .notice {
    color: red;
  }

  .name {
    text-align: center;
  }

  .photo {
    margin-bottom: $base-margin-bottom;
    text-align: center;

    img {
      width: 230px;
    }
  }

  .info {
  }

  .resume-meta {
    font-size: $small-font-size;
    color: $grey-color;
    float: right;
  }
}

.tweets {
}



/**
 * Page content
 */
.page-heading {
  @include relative-font-size(1.25);
  line-height: 1;
}

.post-list-heading {
  @include relative-font-size(1.25);
  line-height: 1;
}

.post-link {
  @include relative-font-size(1.1875);
  line-height: 1;
}



/**
 * Posts
 */
.post-title {
  @include relative-font-size(1.25);
  letter-spacing: 0px;
}
