---
layout: default
---

<div class="home">
  <h1 class="page-heading">{{ page.title | escape }}</h1>

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">Posts</h2>

  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <h3 class="post-heading">
        <a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a>
      </h3>

      <span class="post-meta">
        Posted by <span itemprop="author">{{ post.author }}</span> / <time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: site.date_format }}</time>
      </span>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
