---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

    <p class="post-meta">
      <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: site.date_format }}</time>
    </p>

    <ul class="social-media-share-list">
      <li>
        {% include twitter-share-button.html %}
      </li>
      <li>
        {% include google-share-button.html %}
      </li>
      <li>
        {% include reddit-this.html %}
      </li>
    </ul>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

{% include twitter.html %}

{% include google.html %}

{% if page.comments %}
{% include disqus.html %}
{% endif %}
